<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#logo">
          <img src="assets/lg1.jpg" alt="Your Logo" id="logo" class="img-fluid smaller-logo">
      </a>
      

          <div class="navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav"> 
                <li class="nav-item">
                      <a class="nav-link" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#menu">Menu</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#story">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#contact">Contact</a>
                  </li>
                  <li>
                      <a routerLink="/cart-page">Cart <span>{{cartQuantity}}</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
