<app-header></app-header>
<!-- section-1 top-banner -->
<section id="home" class="banner_wrapper">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 text-center text-lg-start order-lg-1 order-2">
        <h1>Beat the <span>Heat </span>with Shaved Ice <span>Treat</span></h1>

        <div class="mt-4">
          <a href="#menu"><button class="orange-btn">Menu</button></a>
          <a href="#contact"><button class="main-btn ms-lg-4 mt-lg-0 mt-4" href="#contact">Visit Us</button></a>

        </div>
      </div>
      <div class="col-lg-7 text-center order-lg-2 order-0 ">
        <img src="assets\1stimg.jpg" style="float:right" class="img-fluid">
      </div>
    </div>

    <!-- section-2 counter -->
    <section id="counter">
      <section class="counter-section">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
              <h2>
                <span id="count1"></span>+
              </h2>
              <p>Happy Customers</p>
            </div>
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
              <h2>
                <span id="count2"></span>+
              </h2>
              <p>PHOTOS</p>
            </div>
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
              <h2>
                <span id="count3"></span>+
              </h2>
              <p>Dishes</p>
            </div>
            <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
              <h2>
                <span id="count4"></span>+
              </h2>
              <p>Stores</p>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!-- section-3 about-->
    <section id="story">
      <div class="about-section wrapper">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
              <div class="card border-0">
                <img src="assets\about1.jpeg" class="img-fluid">
              </div>
            </div>
            <div class="col-lg-5 col-md-12 text-sec">
              <h2 class="black">We pride ourselves on making real food from the best ingredients.</h2>
              <p>This prompted the burning desire for transparency in all of the ingredients we use. Everything we make
                is listed on the label and there's no mystery ingredients or natural flavors to hide. We use the best of
                what Mother Nature has to offer.</p>
              <a href="#" target="_blank"><button class="orange-btn mt-4">Learn More</button></a>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container food-type">
          <div class="row align-items-center">
            <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5">
              <h2 class="black">We make everything by hand with the best possible ingredients.</h2>
              <p>We believe that honesty and simplicity are the keys to meeting the challenges of everyday life. That's
                why we created a simple snack that we believe will help encourage you to live a healthier life. You'll
                be amazed at how the smallest changes can have the biggest impact. We want you to know that we promise
                to deliver the best we have to offer every time.</p>
              <ul class="list-unstyled py-3">
                <li>Fresh ingredients</li>
                <li>Quick and fast service</li>
                <li>Hygiene and sanitized</li>
              </ul>
              <a href="#" target="_blank"><button class="orange-btn mt-4">Learn More</button></a>
            </div>
            <div class="col-lg-7 col-md-12">
              <div class="card border-0">
                <img src="assets\about2.jpeg" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- menu section -->

    <!-- Offer Section -->
    <section id="menu" class="offers_wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center mb-4">
            <h2 class="black">Our Menu</h2>
            <p>There are many variations of Shaved Ice(Gola) however,<br class="d-none d-md-block">
              Tantalizing flavors can make a huge difference.</p>
          </div>
        </div>
        <router-outlet></router-outlet>
        </div>
</section>

<!-- Section-5 testimonial-->
<section id="review">
  <div class="wrapper testimonial-section">
    <div class="container text-center">
      <div class="text-center pb-4">
        <h2>Customer Reviews</h2>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-10 offset-lg-1">
          <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  <img src="assets\review1.png" alt="Customer 1">
                  <p>"The shaved ice at this place is incredible! It's like a burst of flavor in every bite. Perfect for beating the heat!"</p>
                  <h5 class="orange">Sarah Johnson - Food Lover</h5>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <img src="assets\review2.jpeg" alt="Customer 2">
                  <p>"I can't get enough of their shaved ice creations. They're not just desserts; they're works of art!"</p>
                  <h5 class="orange">Michael Smith - Dessert Enthusiast</h5>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  <img src="assets\review3.png" alt="Customer 3">
                  <p>"This place has the most refreshing shaved ice in town. Each spoonful takes me on a tropical vacation!"</p>
                  <h5 class="orange">Jessica Martinez - Traveler</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section-7 Gallery-->
<!-- Gallery -->
<br><br>
<section id="gallery">
  <div class="text-center pb-4">
    <h1>Discover Our Shaved Ice Creations</h1>
    <p>Indulge in a world of delightful flavors and vibrant colors.</p>
    <a target="_blank" href="#">
      <h3 style="color: var(--primary-color)">@RadheShyamGolawala</h3>
    </a>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <a target="_blank" href="#"><img src="assets\gallery1.jpg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Mouthwatering Flavors" /></a>

      <a target="_blank" href="#"><img src="assets\gallery2.jpg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Refreshing Summer Treats" /></a>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <a target="_blank" href="#"><img src="assets\gallery3.jpg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Colorful Delight" /></a>

      <a target="_blank" href="#"><img src="assets\gallery4.jpg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Sweet Moments" /></a>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <a target="_blank" href="#"> <img src="assets\gallery5.jpg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Fruit Fiesta" /></a>

      <a target="_blank" href="#"><img src="assets\gallery6.jpg"
          class="w-100 shadow-1-strong rounded mb-4" alt="Tropical Bliss" /></a>
    </div>
  </div>
</section>

<!-- section-8 newslettar-->
<section id="contact">
  <div class="newslettar wrapper">
    <div class="container">
      <div class="row">
        <div class="sol-sm-12">
          <div class="text-content text-center pb-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d118103.97912917894!2d73.12533495011158!3d22.32531737793252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x395fcf29ec032199%3A0xdef922fee23a75fc!2sRadhe%20shyam%20Golawala%2C%20Amit%20Nagar%20Circle%2C%20Amit%20Nagar%2C%20Suraj%20Nagar%2C%20Karelibagh%2C%20Vadodara%2C%20Gujarat!3m2!1d22.325338199999997!2d73.2077379!5e0!3m2!1sen!2sin!4v1696754819221!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2 class="black">Vist us at Radhe Shyam!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section-9 footer-->
<section id="contact" class="footer_wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-6 text-center text-md-start">
      </div>
      <div class="col-lg-4 col-md-6">
        <ul
          class="list-unstyled d-flex justify-content-center justify-content-md-end justify-content-lg-center jus social-icon mb-3 mb-md-0">
          <li>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i> </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="copyright-text text-lg-start text-center mb-3 mb-lg-0">
          <p class="mb-0"><a href="#">Radhe Shyam Gola</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
